apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    url: http://prometheus:9090
    basicAuth: false
    isDefault: true
    version: 1
    editable: true
    jsonData:
      httpMethod: POST
      queryTimeout: 60s
      timeInterval: 15s
      manageAlerts: true
      alertmanagerUid: alertmanager
      prometheusType: Prometheus
      prometheusVersion: 2.40.0
      cacheLevel: 'High'
      customQueryParameters: ''
      disableMetricsLookup: false
      exemplarTraceIdDestinations:
        - name: trace_id
          datasourceUid: jaeger
          url: 'http://jaeger:16686/trace/${__value.raw}'
    uid: prometheus

  - name: Application Metrics
    type: prometheus  
    access: proxy
    orgId: 1
    url: http://metrics:9091
    basicAuth: false
    isDefault: false
    version: 1
    editable: true
    jsonData:
      httpMethod: GET
      queryTimeout: 30s
      timeInterval: 15s
      customQueryParameters: 'format=prometheus'
    uid: app-metrics